In [17]:
import pandas as pd
df = pd.read_csv("car-sales-data.csv")
df.head()

     Make Colour  Odometer  Doors    Price
0  Toyota  White  150043.0    4.0   $4,000
1   Honda    Red   87899.0    4.0   $5,000
2  Toyota   Blue       NaN    3.0   $7,000
3     BMW  Black   11179.0    5.0  $22,000
4  Nissan  White  213095.0    4.0   $3,500

In [42]:
def price_car(price):
    if pd.isnull(price):
        return None
    price = str(price)  # Đảm bảo là string
    if price.startswith('$'):
        price = price[1:].strip()  # Cắt $ và strip ngay
    price = price.replace(",", "")
    return float(price)
df['Price'] = df['Price'].apply(price_car)
df.head()

     Make Colour  Odometer  Doors    Price
0  Toyota  White  150043.0    4.0   4000.0
1   Honda    Red   87899.0    4.0   5000.0
2  Toyota   Blue       NaN    3.0   7000.0
3     BMW  Black   11179.0    5.0  22000.0
4  Nissan  White  213095.0    4.0   3500.0

### Câu 1. Chiếc xe nào được bán với giá đắt nhất?

In [30]:
# Tìm giá đắt nhất (max)
max_price = df['Price'].max()

max_price_cars = df[df['Price'] == max_price]
max_price_cars

  Make Colour  Odometer  Doors    Price
3  BMW  Black   11179.0    5.0  22000.0

### Câu 2 Hãng xe nào có chiếc xe với giá trên mỗi kilomet đã đi được rẻ nhất?

In [35]:
df_gia_km = df.dropna(subset= ['Odometer', 'Price'])
df_gia_km = df_gia_km[df_gia_km['Odometer'] > 0]
df_gia_km['Price_per_km'] = df_gia_km['Price'] / df_gia_km['Odometer']
# Tìm giá thấp nhất

min_price_per_km = df_gia_km['Price_per_km'].min()
min_ppk_cars = df_gia_km[df_gia_km['Price_per_km'] == min_price_per_km]
min_ppk_cars

     Make Colour  Odometer  Doors   Price  Price_per_km
4  Nissan  White  213095.0    4.0  3500.0      0.016425

### Câu 3.Trung bình giá xe của các hãng xe là bao nhiêu? Hãng xe nào có trung bình giá bán cao nhất?

In [41]:
avg_price = df.groupby("Make")["Price"].mean()
highest_price_of_make = avg_price.max()

conclusion = df[df["Price"] == highest_price_of_make]
conclusion

  Make Colour  Odometer  Doors    Price
3  BMW  Black   11179.0    5.0  22000.0