In [27]:
#data
products_anime = {
    "tên": [
        "Figure Lingsha HSR",
        "Mô hình Miku Nakano",
        "Áo hoodie Attack on Titan",
        "Poster Demon Slayer",
        "Móc khóa Ghibli Totoro"
    ],
    "giá_niêm_yết": [
        1200000,
        2500000,
        450000,
        150000,
        80000
    ],
    "category": [
        "Figure",
        "Figure",
        "Clothing",
        "Poster",
        "Phụ kiện"
    ],
    "ngày_tạo": [
        "2025-01-12",
        "2025-02-08",
        "2025-02-25",
        "2025-03-15",
        "2025-04-01"
    ],
    "quốc_gia": [
        "Trung Quốc",
        "Nhật Bản",
        "Việt Nam",
        "Mỹ",
        "Nhật Bản"
    ]
}

products_anime

{'tên': ['Figure Lingsha HSR',
  'Mô hình Miku Nakano',
  'Áo hoodie Attack on Titan',
  'Poster Demon Slayer',
  'Móc khóa Ghibli Totoro'],
 'giá_niêm_yết': [1200000, 2500000, 450000, 150000, 80000],
 'category': ['Figure', 'Figure', 'Clothing', 'Poster', 'Phụ kiện'],
 'ngày_tạo': ['2025-01-12',
  '2025-02-08',
  '2025-02-25',
  '2025-03-15',
  '2025-04-01'],
 'quốc_gia': ['Trung Quốc', 'Nhật Bản', 'Việt Nam', 'Mỹ', 'Nhật Bản']}

- df.dtypes: liệt kê dữ liệu của từng cột
- df.shape: in ra số hàng và số cột theo format
- df.info

## Tạo csv với pandas
- Chuyển dữ liệu dict -> dataframe
- Dùng hàm to_csv()

In [28]:
import pandas as pd 

df = pd.DataFrame(products_anime)
# Nếu đã có file -> tự động ghi đè nội dung file
df.to_csv('products_anime.csv', index=False)

## Đọc csv với pandas
- Khi trả về -> dataframe
- Dùng các hàm hỗ trợ để in thông tin của bảng dữ liệu
 - info
 - describe
 - shape + dtypes (biến)
 - head() + tail() (lấy phần tử đầu, phần tử cuối)

In [46]:
# Hàm read_csv báo lỗi khi không có file
try:
    df_from_csv = pd.read_csv("products_anime.csv")
    print(df_from_csv)
    print("Info: --------------------------------------------------------")
    print(df_from_csv.info())
    print("Describe: ----------------------------------------------------")
    print(df_from_csv.describe())
    print("Shape: -------------------------------------------------------")
    print(df_from_csv.shape) #Không phải dạng tuple (nên đừng có shape())
    print("dtypes: -------------------------------------------------------")
    print(df_from_csv.dtypes) #Không phải dạng tuple nốt
    print("Head: --------------------------------------------------------")
    print(df_from_csv.head(1))
    print("Tail: --------------------------------------------------------")
    print(df_from_csv.tail(2))
    
except Exception as e:
    print("Lỗi", e)
    
print("Đọc file csv thành công")

                         tên  giá_niêm_yết  category    ngày_tạo    quốc_gia
0         Figure Lingsha HSR       1200000    Figure  2025-01-12  Trung Quốc
1        Mô hình Miku Nakano       2500000    Figure  2025-02-08    Nhật Bản
2  Áo hoodie Attack on Titan        450000  Clothing  2025-02-25    Việt Nam
3        Poster Demon Slayer        150000    Poster  2025-03-15          Mỹ
4     Móc khóa Ghibli Totoro         80000  Phụ kiện  2025-04-01    Nhật Bản
Info: --------------------------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   tên           5 non-null      object
 1   giá_niêm_yết  5 non-null      int64
 2   category      5 non-null      object
 3   ngày_tạo      5 non-null      object
 4   quốc_gia      5 non-null      object
dtypes: int64(1), object(4)
memory usage: 332.0+ bytes
None
Describe: ----------------------------------------------------
       giá_niêm_yết
count  5.000000e+00
mean   8.760000e+05
std    1.010510e+06
min    8.000000e+04
25%    1.500000e+05
50%    4.500000e+05
75%    1.200000e+06
max    2.500000e+06
Shape: -------------------------------------------------------
(5, 5)
dtypes: -------------------------------------------------------
tên             object
giá_niêm_yết     int64
category        object
ngày_tạo        object
quốc_gia        object
dtype: object
Head: --------------------------------------------------------
                  tên  giá_niêm_yết category    ngày_tạo    quốc_gia
0  Figure Lingsha HSR       1200000   Figure  2025-01-12  Trung Quốc
Tail: --------------------------------------------------------
                      tên  giá_niêm_yết  category    ngày_tạo  quốc_gia
3     Poster Demon Slayer        150000    Poster  2025-03-15        Mỹ
4  Móc khóa Ghibli Totoro         80000  Phụ kiện  2025-04-01  Nhật Bản
Đọc file csv thành công

### Lọc dữ liệu

## Lọc cột - series
`<ten_datafrane>[<tên cột>]`

In [43]:
new_data = df_from_csv[["giá_niêm_yết","category"]]
new_data[df_from_csv["giá_niêm_yết"] > 300000]

   giá_niêm_yết  category
0       1200000    Figure
1       2500000    Figure
2        450000  Clothing

## Lọc hàng
- `slice [start: stop: step]`
- Bỏ start: 0
- Bỏ stop: length - 1 (số cuối cùng)
- Bỏ step: 1

In [44]:
# Lọc 2 hàng đầu
df_from_csv[:2]

          tên_sản_phẩm  giá_niêm_yết category    ngày_tạo    quốc_gia
0   Figure Lingsha HSR       1200000   Figure  2025-01-12  Trung Quốc
1  Mô hình Miku Nakano       2500000   Figure  2025-02-08    Nhật Bản

In [53]:
df_from_csv[1::2]

          tên_sản_phẩm  giá_niêm_yết category    ngày_tạo  quốc_gia
1  Mô hình Miku Nakano       2500000   Figure  2025-02-08  Nhật Bản
3  Poster Demon Slayer        150000   Poster  2025-03-15        Mỹ

### Thay đổi index

In [47]:
df_from_csv.set_index("tên", inplace=True)
df_from_csv

                           giá_niêm_yết  category    ngày_tạo    quốc_gia
tên
Figure Lingsha HSR              1200000    Figure  2025-01-12  Trung Quốc
Mô hình Miku Nakano             2500000    Figure  2025-02-08    Nhật Bản
Áo hoodie Attack on Titan        450000  Clothing  2025-02-25    Việt Nam
Poster Demon Slayer              150000    Poster  2025-03-15          Mỹ
Móc khóa Ghibli Totoro            80000  Phụ kiện  2025-04-01    Nhật Bản

In [51]:
df_from_csv.reset_index("tên", inplace=True)
df_from_csv

                         tên  giá_niêm_yết  category    ngày_tạo    quốc_gia
0         Figure Lingsha HSR       1200000    Figure  2025-01-12  Trung Quốc
1        Mô hình Miku Nakano       2500000    Figure  2025-02-08    Nhật Bản
2  Áo hoodie Attack on Titan        450000  Clothing  2025-02-25    Việt Nam
3        Poster Demon Slayer        150000    Poster  2025-03-15          Mỹ
4     Móc khóa Ghibli Totoro         80000  Phụ kiện  2025-04-01    Nhật Bản

In [32]:
# add dữ liệu từ csv
import pandas as pd
df = pd.read_csv("products_anime.csv")
df.tail(2)

                      tên  giá_niêm_yết  category    ngày_tạo  quốc_gia
3     Poster Demon Slayer        150000    Poster  2025-03-15        Mỹ
4  Móc khóa Ghibli Totoro         80000  Phụ kiện  2025-04-01  Nhật Bản

### Lọc bằng chỉ **số** (iloc)

> `iloc` lọc dữ liệu dựa trên vị trí chỉ số trong DataFrame

In [35]:
df.iloc[:3] #Lấy ba dòng đầu tiên

                         tên  giá_niêm_yết  category    ngày_tạo    quốc_gia
0         Figure Lingsha HSR       1200000    Figure  2025-01-12  Trung Quốc
1        Mô hình Miku Nakano       2500000    Figure  2025-02-08    Nhật Bản
2  Áo hoodie Attack on Titan        450000  Clothing  2025-02-25    Việt Nam

In [39]:
df.iloc[2::2,2:] #Lấy dòng 2 -> 5 (bước nhảy 2), cột 2 -> cuối (bỏ đi cột số 0 là tên và cột số 1 là giá_niêm_yết)

   category    ngày_tạo  quốc_gia
2  Clothing  2025-02-25  Việt Nam
4  Phụ kiện  2025-04-01  Nhật Bản

### Lọc bằng nhãn (loc) -> lọc dưới dạng chữ

> `loc` lọc dữ liệu dựa trên nhãn của chỉ số trong DataFrame

In [44]:
df.loc[3: ,["giá_niêm_yết", "category"]]
# Lấy từ dòng 3 tới cuối, cột từ giá bạn + category

   giá_niêm_yết  category
3        150000    Poster
4         80000  Phụ kiện

In [45]:
#Lọc có điều kiện
df.loc[df["giá_niêm_yết"] >80000, "tên": "ngày_tạo"]
# Lấy dòng nào có giá bán > 80k
# Cột 0 (tức là tên) -> "ngày tạo"

                         tên  giá_niêm_yết  category    ngày_tạo
0         Figure Lingsha HSR       1200000    Figure  2025-01-12
1        Mô hình Miku Nakano       2500000    Figure  2025-02-08
2  Áo hoodie Attack on Titan        450000  Clothing  2025-02-25
3        Poster Demon Slayer        150000    Poster  2025-03-15